/*
Project Name: St. Francis Hospital for Animals
Designer: Loubna Dufrane

*/

/* LAYOUT ------------------------*/

/* TYPOGRAPHY ------------------------*/

/* HEADER------------------------*/

/* NAVIGATION------------------------*/

nav li {display: inline;}

/* CTA------------------------*/
.cta {position:relative;}
.cta p {padding:10px; background:white; position:absolute; width:60%; top:40px; left: 50%; margin-left:-30%;border:1px solid #000;}
/* FOOTER ------------------------*/

footer li {display: inline;}

/* LISTS ------------------------*/

.imagelist li { display:inline;}
.imagelist li img {
    max-width: 200px;
    margin:2px;
}

/* MISC------------------------*/

a.btn{display:inline-block; padding:10px; border:1px solid #ccc; font-size:1.5em;}